[submodule "mongodb"]
	path = mongodb
	url = git@github.com:alleluu/chef-mongodb.git
[submodule "apt"]
	path = apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbook-elasticsearch"]
	path = elasticsearch
	url = https://github.com/elasticsearch/cookbook-elasticsearch
[submodule "monit"]
	path = monit
	url = git://github.com/apsoto/monit.git
